<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to /public when docroot cannot be changed.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>